In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data/global-superstore-data.csv', encoding="utf-8")

In [16]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2014-62366,19-06-2014,19-06-2014,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.01,Medium
51286,35398,US-2014-102288,20-06-2014,24-06-2014,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.01,Medium
51287,40470,US-2013-155768,02-12-2013,02-12-2013,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.01,High
51288,9596,MX-2012-140767,18-02-2012,22-02-2012,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,Sï¿½o Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.00,Medium
51289,6147,MX-2012-134460,22-05-2012,26-05-2012,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.00,High

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [18]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [19]:
dim_Customer = ['Customer ID', 'Customer Name', 'Segment']
dim_Product = ['Product ID', 'Category','Sub-Category', 'Product Name']
dim_Geography =['Address ID', 'City', 'State', 'Country','Postal Code', 'Market', 'Region']
dim_Order = ['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Order Priority']

fact_Sale = ['Order ID', 'Product ID', 'Customer ID', 'Address ID', 'Sales', 'Quantity', 'Discount','Profit', 'Shipping Cost']

In [20]:
Address_df = df[['City', 'State', 'Country','Postal Code', 'Market', 'Region']]
Address_df = Address_df.drop_duplicates()
Address_df['Address ID'] = Address_df.index+1
Address_df

,City,State,Country,Postal Code,Market,Region,Address ID
0,New York City,New York,United States,10024.0,US,East,1
1,Wollongong,New South Wales,Australia,NaN,APAC,Oceania,2
2,Brisbane,Queensland,Australia,NaN,APAC,Oceania,3
3,Berlin,Berlin,Germany,NaN,EU,Central,4
4,Dakar,Dakar,Senegal,NaN,Africa,Africa,5
...,...,...,...,...,...,...,...
51003,San Luis Obispo,California,United States,93405.0,US,West,51004
51032,Abilene,Texas,United States,79605.0,US,Central,51033
51043,Felahiye,Kayseri,Turkey,NaN,EMEA,EMEA,51044
51084,Lewiston,Idaho,United States,83501.0,US,West,51085
51176,Victoria Falls,Matabeleland North,Zimbabwe,NaN,Africa,Africa,51177

In [21]:
dff = pd.merge(df, Address_df, on = ['City', 'State', 'Country','Postal Code', 'Market', 'Region'], how = 'outer')

In [22]:
dff = dff.set_index('Row ID')

In [23]:
dim_Geography_df = dff[dim_Geography]
dim_Geography_df = dim_Geography_df.drop_duplicates()
dim_Geography_df

,Address ID,City,State,Country,Postal Code,Market,Region
Row ID,,,,,,,
18868,1054,Aachen,North Rhine-Westphalia,Germany,NaN,EU,Central
15214,3858,Aalen,Baden-Wï¿½rttemberg,Germany,NaN,EU,Central
15285,18097,Aalst,East Flanders,Belgium,NaN,EU,Central
44322,10757,Aba,Abia,Nigeria,NaN,Africa,Africa
46435,5693,Abadan,Khuzestan,Iran,NaN,EMEA,EMEA
...,...,...,...,...,...,...,...
50830,36731,Zwedru,Grand Gedeh,Liberia,NaN,Africa,Africa
17944,33683,Zwickau,Saxony,Germany,NaN,EU,Central
17109,12891,Zwolle,Overijssel,Netherlands,NaN,EU,Central
41916,27080,eMbalenhle,Mpumalanga,South Africa,NaN,Africa,Africa
5711,15774,ï¿½guas Lindas de Goiï¿½s,Goiï¿½s,Brazil,NaN,LATAM,South

In [24]:
dim_Customer_df = dff[dim_Customer]
dim_Customer_df = dim_Customer_df.drop_duplicates()
dim_Customer_df

       Customer ID      Customer Name      Segment
Row ID
18868     MO-17500      Mary O'Rourke     Consumer
12623     RC-19825        Roy Collins     Consumer
11567     JC-15340    Jasper Cacioppo     Consumer
17543     MA-17995    Michelle Arnett  Home Office
14047     GZ-14545    George Zrebassa    Corporate
...            ...                ...          ...
48527      NC-8625        Noah Childs    Corporate
48428      BG-1035     Barry Gonzalez     Consumer
44369      CC-2430        Chuck Clark  Home Office
47384      MG-7650  Matthew Grinstein  Home Office
47060      NM-8520       Neoma Murray     Consumer

[1590 rows x 3 columns]

In [25]:
dim_Product_df = dff[dim_Product]
dim_Product_df = dim_Product_df.drop_duplicates()
dim_Product_df

,Product ID,Category,Sub-Category,Product Name
Row ID,,,,
18868,OFF-ST-10000288,Office Supplies,Storage,"Fellowes Lockers, Industrial"
12623,FUR-BO-10002781,Furniture,Bookcases,"Sauder Floating Shelf Set, Traditional"
18871,OFF-AR-10003629,Office Supplies,Art,"Boston Canvas, Water Color"
11567,OFF-EN-10004597,Office Supplies,Envelopes,"GlobeWeis Peel and Seal, Set of 50"
18869,OFF-AR-10003117,Office Supplies,Art,"BIC Pencil Sharpener, Blue"
...,...,...,...,...
47650,OFF-EAT-10001025,Office Supplies,Paper,"Eaton Note Cards, Multicolor"
42722,TEC-SHA-10001976,Technology,Copiers,"Sharp Ink, High-Speed"
28200,OFF-AP-10003491,Office Supplies,Appliances,"Hoover Coffee Grinder, Silver"
20587,TEC-MA-10000317,Technology,Machines,"StarTech Receipt Printer, Red"
18069,TEC-MA-10004408,Technology,Machines,"Konica Inkjet, Durable"

In [26]:
dim_Order_df = dff[dim_Order]
dim_Order_df = dim_Order_df.drop_duplicates()
dim_Order_df

               Order ID  Order Date   Ship Date       Ship Mode Order Priority
Row ID
18868   ES-2012-1706068  10-11-2012  14-11-2012  Standard Class           High
12623   ES-2013-2795403  22-11-2013  28-11-2013  Standard Class         Medium
11567   ES-2012-5677397  17-09-2012  17-09-2012        Same Day           High
17543   ES-2012-4741068  30-04-2012  06-05-2012  Standard Class         Medium
14047   ES-2013-5731690  04-03-2013  08-03-2013  Standard Class         Medium
...                 ...         ...         ...             ...            ...
18271   IT-2014-2273520  04-02-2014  10-02-2014  Standard Class         Medium
41916      SF-2011-5640  20-08-2011  23-08-2011     First Class         Medium
5711     MX-2014-123274  07-03-2014  12-03-2014    Second Class         Medium
5580     MX-2013-138828  20-12-2013  21-12-2013     First Class           High
6908     MX-2014-140207  13-03-2014  18-03-2014  Standard Class         Medium

[25754 rows x 5 columns]

In [27]:
fact_Sale_df = dff[fact_Sale]
fact_Sale_df = fact_Sale_df.drop_duplicates()
fact_Sale_df

,Order ID,Product ID,Customer ID,Address ID,Sales,Quantity,Discount,Profit,Shipping Cost
Row ID,,,,,,,,,
18868,ES-2012-1706068,OFF-ST-10000288,MO-17500,1054,1309.203,7,0.1,494.403,197.03
12623,ES-2013-2795403,FUR-BO-10002781,RC-19825,1054,1050.732,6,0.1,315.072,90.62
18871,ES-2012-1706068,OFF-AR-10003629,MO-17500,1054,170.460,3,0.0,25.560,22.56
11567,ES-2012-5677397,OFF-EN-10004597,JC-15340,1054,128.340,6,0.0,0.000,19.48
18869,ES-2012-1706068,OFF-AR-10003117,MO-17500,1054,87.030,3,0.0,35.640,11.91
...,...,...,...,...,...,...,...,...,...
41915,SF-2011-5640,OFF-ACC-10004713,KH-6690,27080,16.800,2,0.0,6.540,2.45
5711,MX-2014-123274,OFF-SU-10004361,LC-17050,15774,110.480,4,0.0,22.080,18.35
5580,MX-2013-138828,OFF-LA-10004239,KB-16405,15774,14.600,2,0.0,3.920,3.97
6908,MX-2014-140207,OFF-BI-10000335,CM-12115,15774,40.400,2,0.0,9.280,3.35
5712,MX-2014-123274,OFF-FA-10003929,LC-17050,15774,21.480,2,0.0,5.760,1.68

In [28]:
duplicate_ids = dim_Product_df[dim_Product_df['Product ID'].duplicated(keep=False)]

print(duplicate_ids)

              Product ID         Category Sub-Category  \
Row ID
41873   OFF-FIS-10000063  Office Supplies     Supplies
7840     OFF-AR-10002335  Office Supplies          Art
5596     OFF-BI-10002414  Office Supplies      Binders
47915   OFF-EAT-10002122  Office Supplies        Paper
14894    OFF-BI-10002225  Office Supplies      Binders
...                  ...              ...          ...
30889    TEC-CO-10003924       Technology      Copiers
30917    OFF-BI-10003364  Office Supplies      Binders
30579    OFF-SU-10001087  Office Supplies     Supplies
30502    OFF-EN-10002491  Office Supplies    Envelopes
30980    OFF-FA-10002815  Office Supplies    Fasteners

                             Product Name
Row ID
41873          Fiskars Shears, High Speed
7840          Sanford Canvas, Fluorescent
5596             Ibico Index Tab, Economy
47915    Eaton Cards & Envelopes, Premium
14894   Cardinal Binding Machine, Durable
...                                   ...
30889                Brother Ink, Digital
30917        Cardinal 3-Hole Punch, Clear
30579       Kleencut Box Cutter, Serrated
30502      Cameo Peel and Seal, Set of 50
30980      Stockwell Thumb Tacks, 12 Pack

[933 rows x 4 columns]